


@media only screen
and (max-width : 1200px){

    #logo {
        max-width: 20%;
        margin-right: 0;
    }

    .main-menu {
        max-width: 60%;
    }

    #desktop-menu .sub-nav {
        text-align: right;

    }

    /*
    .page-template-page-portfolio .project-category-menu {
        display:none;
    }
    */
}


@media only screen
and (max-width : 1024px){

    .large-grid .project-teaser:nth-of-type(5n+0),
    .large-grid .project-teaser {
        margin-right:2%; width:29.5%;
        float:left;
        margin-bottom: 0px;
    }


    .large-grid .project-teaser:nth-of-type(4n+0){
        margin-right:0;
    }
}

@media only screen
and (max-width : 800px){

    #current-page-name,
    #current-cat-name,
    .desktop-only,
    .main-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        margin-top: 16px;
        margin-right: 20px;
    }


    #logo {
        width: auto;
        /*max-width: 40%;*/
        max-width: 205px;
    }

    #logo img {
        width: 100%;
    }

    #layer-menu-target {
       padding-left: 2%;
    }

    #mobile-menu-wrapper,
    #logo {
        margin-left: 19px;
    }

    .project-nav .inner-wrapper,
    header .inner {
        padding-left: 2%;
        padding-right: 2%;
    }

    .project-nav .left-field .page-head-h1 {
        padding-left: 0;
    }

    .standard-about-header {
        padding-left: 2%;
    }

    .project-nav .left-field .page-head-h1 {

    }

    .project-nav .control-bar {
        padding-right: 0;
    }

    .project-nav .inner-wrapper{
        padding-left:0;
    }

    .project-nav .inner-wrapper{
        padding-right: 0;
    }

    .project-nav .left-field {
        /*max-width: 65%;*/
    }

    .project-nav .right-field {
        max-width: 30%;
    }

    .project-nav .left-field,
    .page-content {
        padding-left: 0;
        padding-right: 0;
    }

    .page-template-page-about #main-content .inner,
    .page-template-page-awardspress #main-content .inner,
    .page-template-page-news #main-content .inner {
        margin-left: 0;
        margin-right: 0;
    }

    .page-template-page-about .page-content,
    .page-template-page-awardspress .page-content,
    .page-template-page-news .page-content {
        padding-left: 20px;
        padding-right: 20px;
    }


    #main-content .inner {
        margin-left: 2%;
        margin-right: 2%;
    }

    .page-template-page-awardspress .page-content,
    .page-template-page-news .page-content {
        /*margin: 0;*/
        background:none;
    }

    .page-template-page-news #background-slideshow-wrapper #background-slideshow,
    .page-template-page-awardspress #background-slideshow-wrapper #background-slideshow {
        opacity: 0.2;
    }

    .slideshow-prev {
        left:2%;
    }

    .slideshow-next {
        right:2%;
    }

    .single-smprojectentity .description {
        padding-left: 25px;
        padding-right: 20px;
    }

    .single-smprojectentity #main-content .inner,
    #main-content .inner.fullscreen {
        margin-left: 0;
        margin-right: 0;
    }

    .single-smpersonentity .large-grid,
    .page-template-page-team .large-grid,
    .large-grid {
        margin-right:0;
        margin-left:0;
    }

    .large-grid .project-teaser:nth-of-type(5n+0),
    .large-grid .project-teaser:nth-of-type(4n+0),
    .large-grid .project-teaser {
        margin-right:1%; width:47%
    }

    .large-grid .project-teaser:nth-of-type(3n+0){
        margin-right:0%;
    }

    .large-grid .project-teaser:nth-of-type(2n+0){
        /*margin-right:0%;*/
    }


    .page-template-default .page-content {
        padding-right: 0;
    }

    .page-content .size-full {
        width: 100%;
        height:auto;
    }

    .large-master-type h2,
    .large-master-type {
        font-size: 15px;
        line-height: 22px;
    }



}

@media only screen
and (max-width : 600px) {


    .page-id-36 .page-content, .page-id-20 .page-content {
        padding-top: 150px;
    }


    #logo {
        /*width: 245px;
        max-width: 60%;*/
    }

    .large-grid .project-teaser:nth-of-type(3n+0),
    .large-grid .project-teaser:nth-of-type(4n+0),
    .large-grid .project-teaser:nth-of-type(5n+0),
    .large-grid .project-teaser {
        margin-right:1%; width:94%
    }

    .large-grid .project-teaser:nth-of-type(2n+0){
        margin-right:0%;
    }

    .page-id-42 .large-master-type {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count:1;

        -webkit-column-gap: 0; /* Chrome, Safari, Opera */
        -moz-column-gap: 0; /* Firefox */
        column-gap: 0;
    }

    .slideshow-arrows {
       display: none;
    }

    .slide-caption {
        bottom: 110px;
        right: auto;
        left:15px;
        padding:20px;
    }

}


@media only screen
and (max-width : 400px) {

    #mobile-menu-menu-container #menu-about-sub-menu li,
    #mobile-menu-menu-container .project-category-menu li,
    #mobile-menu-menu-container #menu-main-menu li {
        display: block;
    }

    #mobile-menu-menu-container .project-category-menu,
    #mobile-menu-menu-container #menu-about-sub-menu{
        border-top: 1px solid #666;
        padding-top: 20px;
    }


    header {
        min-height: 84px;
    }



    .page-template-page-team .large-grid .project-teaser {
        width:100%;
    }

    .page-template-page-team .large-grid .project-teaser:nth-of-type(3n+0){
        margin-right:0;
    }

    .page-template-page-team .large-grid .project-teaser:nth-of-type(2n+0){
        margin-right:0;
    }

    .inner-description {
        padding-left: 0;
        padding-right: 0;
    }


}